# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.eggs/

# Virtualenv
.venv/
venv/
env/

# Logs
logs/
*.log

# Backups
*.bak
*.swp
*.tmp

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Swift build artifacts
.build/
build/
*.app
